*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-size: 1em;
    background-color: #02041b !important;
}
header{
    animation: aparecer .3s ease-in;
    h1{
        color: #023E8A;
        font-family: teste1;
        font-weight: bolder;
        font-size: 3em;
        text-align: center;
        margin: 1vh 0;
    }
    img{
        position: relative;
        left: 50%;
        transform: translatex(-50%);
        border-radius: 20%;
        width: 20%;
        margin-bottom: 2vh;
        filter: drop-shadow(-1px 1px 8px #fff);
    }
}
nav{
    //background: #90E0EF;
    ul{
        display: flex;
        list-style: none;
        justify-content: space-between;
        overflow-x: auto;
        background-color: #90e0ef;
        z-index: 2;
        animation: rolar 1s ease-in;
        li{
            padding: 10px;
        }
        a{
            padding: 12px;
            color: #0077B6;
        }
        & a:hover{
            color: #ADE8F4;
            background-color: #023E8A;
            text-decoration: none;
        }
    }
}
section{
    color: white;
    height: 100vh;
    h2{
        padding: 50px 0 15px 0;
        margin-bottom: 15px; 
        text-align: center !important;
        font-size: 3em;
        border-bottom: 5px solid #90e0ef;
        font-family: teste3;
    }
}
#btnVoltar{
    position: fixed;
    bottom: 25px;
    right: 35px;
    z-index: 15;
    i{
        color: #023E8A;
        
    }
    & :hover{
        text-decoration: none;
        color: #90e0ef;
    }
}
#um{
    animation: aparecer .5s ease-in;
    .row{
        justify-content: space-between;
    }
    p{
        padding: 0 100px;
    }
}
#dois{
    h2{
        margin-bottom: 35vh;
    }
    .row{
        justify-content: space-between;
    }
    .esses{
        h3, p{
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
    }
}
#tres{
    .row{
        justify-content: space-between;
    }
    p{
        text-align: center;
    }
    h2{
        margin-bottom: 30vh;
    }
}
#quatro{
    .row{
        justify-content: space-between;
    }
    h2{
        margin-bottom: 30vh;
    }
}
#cinco{
    h2{
        margin-bottom: 30vh;
    }
    h3, p{
        text-align: center;
    }
    .row{
        justify-content: space-between;
    }
}
#seis, #oito{
    .row{
        justify-content: space-between;
    }
    h2{
        margin-bottom: 25vh;
    }
    .esses{
        h3, p{
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
    }
}
#sete{
    h2{
        margin-bottom: 15vh;
    }
    img{
        border-radius: 50%;
        transition: 0.2s ease;
        filter:drop-shadow(-1px 1px 5px #fff);
    }
    & img:hover{
        cursor: pointer;
        transform: translateY(-5vh);
    }
}
#oito{
    h3{
      font-family: 'Times New Roman', Times, serif;  
    }
}
#nove{
    h2.aqui{
        margin-bottom: 25vh;
    }
    ul{
        margin-left: 2px;
    }
}
#dez{
    h2.aqui{
        margin-bottom: 25vh;
    }
}
#onze{
    ul{
        list-style: none;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.card{
    background:rgba(255, 255, 255, .6) !important;
    color: #023E8A;
    padding: 10px 30px;
    border-radius: 25px !important;
    filter: drop-shadow(-1px 1px 5px #fff);
    margin: 5vh 0;
}
.esses{
    h3,p{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}
@keyframes rolar{
    from{
        padding-left: 100vw;
        opacity: 0.5;
    }
    to{
        padding-left: 0;
        opacity: 1;
    }
}
@keyframes aparecer{
    from{
        transform: translateX(-40vw);
        opacity: 0;
        filter: blur(.5px);
    }
    to{
        transform: translateX(0);
        opacity: 1;
        filter: blur(0);
    }
}

@font-face{
    font-family: teste1;
    src: url("fontes/Animal\ Silence.otf");
}

@font-face {
    font-family: teste3;
    src: url("fontes/Florida\ Orange\ -\ Personal\ Use.ttf");
}